<ul class="messages">
	
	<li class="message">
		<span class="message-id"><%= message.id %></span>
		<div class="message-body">
			<%= message.body %>
		</div>
		<div class="post-info">
			<% if message.admirer.name.nil? %>
			Sent by <%= message.admirer.phone_number.split("").each_with_index.map { |x,i| i < 8 ? x : "*" }.join[1.. -1].insert(1, "-").insert(5, "-").insert(9, "-") %> on <%= message.created_at.to_formatted_s(:long) %>
			
			<% else %>
			Sent by <%= message.admirer.name %> on <%= message.created_at.to_formatted_s(:long) %>
			<% end %>
		</div>
		
		<% if message.likes.length > 0 %>
			<img class="like-btn" src="<%= image_path("buttsit-liked.png") %>" data-id="<%= message.id %>">
		<% else %>
			<img class="like-btn" src="<%= image_path("buttsit.png") %>" data-id="<%= message.id %>">
		<% end %>
		
		<p class="display-likes hidden" id="<%= message.id %>"><%= message.likes.count %> like(s)<p>
	</li>
</ul>