<img class="kate" src="<%= image_path("kate-bell.jpg") %>">
<div class="messages-index">
	<div class="page-nav top">
		<%= paginate @messages %>
	</div>
	
	<div class="all-messages">
		<div class="page">
			<%= render @messages %>
		</div>
	</div>
	
	<div class="page-nav bottom">
		<%= paginate @messages %>
	</div>
	
</div>

<script>
(function($) { 
  var pusher = new Pusher('<%= @app_key %>');

	var smsChannel = pusher.subscribe('sms');

	smsChannel.bind('sms_received', function(data) {
		var li = $("<li class='message'>");
		var messageId = $("<span class='message-id'>").text(
			parseInt($('span.message-id').first().text()) + 1
		);
		var body = $("<div class='message-body'>").text(data.body);
		var info = $("<div class='post-info'>").text("Sent by" + data.from);
		var likeBtn = $("<img class='like-btn' source='<%=image_path('buttsit.png')%>'>");
		var likesDisplay = $("<p class='display-likes hidden' id=" + data.id + "%>").text("0 like(s)")

		li.append(messageId)
			.append(body)
			.append(info)
			.append(likeBtn)
			.append(likesDisplay);

		$("ul.messages").prepend(li);
	});

})(jQuery);
 </script>

<script>
	setTimeout(function() {
		$('img.like-btn').on("mouseover", function(event) {
			var messageId = $(event.target).data("id");
			
			$("#" + messageId).removeClass("hidden");
		});
		
		$('img.like-btn').on("mouseleave", function(event) {
			var messageId = $(event.target).data("id");
			$("#" + messageId).addClass("hidden");
		});
	}, 1000);
</script>