<img class="kate" src="<%= image_path("kate-bell.jpg") %>">
<div class="messages-index">
	<div class="page-nav top">
		<%= paginate @messages %>
	</div>
	
	<div class="all-messages">
		<div class="page">
			<%= render @messages %>
		</div>
	</div>
	
	<div class="page-nav bottom">
		<%= paginate @messages %>
	</div>
	
</div>

<script> 
(function($) {
  var pusher = new Pusher(<%= @app_key %>);
	
	var smsChannel = pusher.subscribe('sms');
	
	smsChannel.bind('sms_received', function( data ) {
		
	});
	
})(jQuery);
</script>

<script>
	$('document').ready(function() {

		$('img.like-btn').on("mouseover", function(event) {
			var messageId = $(event.target).data("id");
			
			$("#" + messageId).removeClass("hidden");
		});
		
		$('img.like-btn').on("mouseleave", function(event) {
			var messageId = $(event.target).data("id");
			$("#" + messageId).addClass("hidden");
		});
	});
</script>